.input_area pre, .input_area div {
    margin-bottom:2rem !important;
    margin-top:1.5rem !important;
    padding-bottom:0 !important;
    padding-top:0 !important;
    background: #323443 !important;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: DejaVu Sans Mono, monospace;
    border-radius: 5px;
    font-size: 100%;
}

$dt-purple: #c792ea;

.highlight {
    .k,
    .o,
    .cp,
    .kc,
    .kn,
    .kp,
    .kr,
    .nt,
    .ow {
      color: $dt-purple;
    }
}